.container{
  display: flex;
  margin-top: 5rem;
  width: 100rem;
  height: 30rem;
}

.deviceImg{
  width: 30rem;
  border-radius:2rem;
}

.config{
  width:30rem;
  border-bottom: 5px solid grey;
}

.price{
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.total{
  width:100%;
  padding: 2rem;
  border-radius: 2rem;
  margin: 1rem;
  background: white;
}

.pricebreak{
  font-size: 1.8rem;
  margin-top: 3rem;
  border-bottom: 3px solid grey;
}

.paynow{
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  background: #3385ff;
  border: none;
  color: white;
  margin-top: 2rem;
  
  &:hover{
    background: blue;
  }
}