*{
padding:0;
margin:0;
}

.Navbar{
  width: 100rem;
height:20rem;
background:white;
}

.Navbar ul{
display:flex;
height:7.4rem;
list-style:none;
padding-top:1rem;
margin-right:3rem;
margin-left:3rem;
}

.Navbar ul li{
  margin-right:1rem;
  margin-left:1rem;
}


.Navbar ul button{
border:none;
background:none;
width:6.5rem;

&:hover{
border-bottom:5px solid black;
}

&:focus{
border-bottom:5px solid black;
}
}

.Navbar ul li .headerImage{
  width: 5rem;
  height: 4rem;
}

.Navbar ul li p{
font-size:0.9rem;
font-weight: 600;
text-align:center;
}